@mixin row_size {
  position: absolute;
  height: 5rem;
  width: 100%;
}
@mixin buttons_features {
  height: 100%;
  background-color: $buttons-color;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: $buttons-color;
  font-size: $font-size;
  border-style: solid;
  border-width: thin;
}
