html {
  font-size: 62.5%; //10px
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  //margin: .5rem .5rem .5rem;
  background-color: rgba($color: rgb(1, 65, 51), $alpha: 1);
  box-sizing: border-box;
}